.home{
    text-align: center;
    justify-content: center;
    font-family: CeraRoundPro-Regular,sans-serif;
    color: rgba(32,49,81,.7);
}

.nav-theme {
    max-height: 42px;
    font-family: CeraRoundPro-Medium;
    color:rgba(32,49,81,.7);
}

.myco-logo {
    max-height: 25px;
    position:relative;
    
}

.navbar-nav-bg {
    background-color: #FCFCFC;
}
h1 {
    font-family: TiemposHeadline,CeraRoundPro-Regular,sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #01051C;
    text-rendering: optimizeLegibility;
}
h2 {
    font-family: TiemposHeadline,CeraRoundPro-Regular,sans-serif;
    font-size: 32px;
    line-height: 40px;
    color: #01051C;
    text-rendering: optimizeLegibility;
}
h3,h4 {
    font-family: TiemposHeadline,CeraRoundPro-Regular,sans-serif;
    font-size: 28px;
    line-height: 32px;
    color: #01051C;
    text-rendering: optimizeLegibility;
}
h5,h6 {
    font-family: TiemposHeadline,CeraRoundPro-Regular,sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #01051C;
    text-rendering: optimizeLegibility;
}