@import "./homepage";
@import "./questionnaire";
@import "./questions";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cms-font-regular", sans-serif;
    transition: all .2s ease;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

// media queries, for future use- start
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
// media queries, for future use- end
