<footer class="bg-secondary text-center text-white">
    <a data-test-footer-link href="https://github.com/rishiraj88/" target="_blank" rel="noopener noreferrer" 
    class="text-white text-decoration-none">
    <i class="fa fa-copyright"></i> MyCo Deutschland GmbH
    </a>
</footer>