<nav class="navbar navbar-expand-sm navbar-light bg-light nav-theme">
  <div class="container-fluid  ">
    <a class="navbar-brand align-top" href="https://github.com/rishiraj88/" target="_blank">
      <img class="myco-logo" src="/myco-icon-rr.gif"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-nav-bg">
        <a data-test-header-company class="nav-link text-center fw-bold  fs-5 text-nowrap text-capitalize active" 
            aria-current="page" href="/">MyCo</a>
        <a data-test-header-about class="nav-link text-center fs-5 text-nowrap text-capitalize" 
            href="https://www.linkedin.com/in/rishi-raj-openminds/" target="_blank" rel="noopener noreferrer">Über RR</a>
      </div>
    </div>
  </div>
</nav>