{{page-title "MyCo Home"}}
<Header @header={{this.header}}></Header>
<MainContainer>
    <div class="row align-items-center">
        <div class="col-sm-10 mx-auto my-auto text-center">
            <LinkTo @route="questionnaire" @model={{this.model}}>
                <p class="display-6 text-center  px-2 py-3 mx-0 my-0">
                    Zum Fragebogen zur Privathaftpflichtversicherung</p>
            </LinkTo>
        </div>
    </div>
</MainContainer>
<Footer></Footer>